.body {
  background-color: #fffdf0;
}

.tryllekunstnerne {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  background-color: #1d326f;
  color: #fffdf0;
}
.lottiefile {
  width: 5rem;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04aa6d;
  width: 0%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1d326f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 250px;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #1d326f;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #1d326f;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
