---
import "../styles/style.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>Astro</title>
	</head>
	<body>
		
		<header></header>
		<section>
			<h1>Magiske øjeblikke</h1>
			<p>I Magic Kids er det formålet, at vores magikere er til stede på alle landets børneafdelinger og skaber magi og glæde, så børnene bliver opslugt at de spændende magiske tricks og bliver underholdt og får en ægte pause fra sygdom, kedelig ventetid, frygt for ubehag eller sorg.
Magic Kids er for børn i alle aldre. Blandt andet små trylletricks, som er sjove for de lidt større børn, og disse tricks foræres til børnene, så de kan øve sig og trylle videre.
Der er tricks og balloner for de lidt mindre børn, som kan forundres og grine og få et ballondyr.
For de største børn, er der kort tricks og små illusioner, der er sjove at udføre foran vennerne, når de bliver udskrevet, eller når disse kommer på besøg.</p>
		</section>

		<section>
			<h1>Mød vores tryllekunstnere</h1>
			<div class="tryllekunstnerne">
				<div>
			<h3>Henny solskin</h3>
			<p>henny solskin er en ægte solstråle. med hendes mange farver, dyr og bamser spreder hun glæde på Herning.</p>
				</div>
<div>
	<h3>Trylle Michael</h3>
	<p>Tryller på Riget. en ægte magiker, der også får de voksne til at forbløffes.</p>
</div>
<div>
	<h3>Birger</h3>
	<p>Birger tryller for kidsaid i Viborg og Odense. Han har optrådt for både store og små i over 20 år. </p>
</div>
<div>
	<h3>Lasse NK</h3>
	<p>Lasse er på Herlev og Hvidovre og Gram Slot. Han er en mester til balloner og har en populær Segway.</p>
</div>
<div>
	<h3>Helle</h3>
	<p>Danmarksmester i børnetryl.</p>
</div>
<div>
	<h3>Fabelagtige Falbe</h3>
	<p>En magiker med grine-garanti.</p>
</div>
<div>
	<h3>Rasmus Fup og Fidus </h3>
	<p>Rasmus Fup og Fidus fra AUH tryller på de forskellige børneafdelinger på Århus og Familiehuset.</p>
</div>

			</div>
		</section>
		<section>
<h1>Støt op om MagicAid og doner i dag!</h1>
<h2>Besøg vores instagram! </h2>

 <div class="lottiefile">
            <script src ="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/da28be59-8174-4601-b9f9-cbd7437d9f81/2vTf0ZgRYm.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
        </div>
		</section>

		<footer>
			<div class="footer">
				<div>
					<h3>om os</h3>
<p>Nyheder 
Kidsaid 
Ambassadører
Kidsaid organisation</p>
				</div>
<div>
<h3>Kontakt</h3>
	<p>Emma Iben Rosenkrantz Holm Eb@kidsaid.dk  Tlf.: +45 2025 1987</p>
</div>
			</div>	
			<div>
			<img src="/group11_t9_kidsaid/proper-point/public/img/linkedinikon.svg" alt="linkedin">	
		<img src="/group11_t9_kidsaid/proper-point/public/img/instagramikon.svg" alt="instagram">	
		<img src="/group11_t9_kidsaid/proper-point/public/img/facebookikon.svg" alt="facebook">		
		</div>	
		</footer>
	</body>
</html>

<script></script>
