---
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Solid:wght@100;300;400;900&family=Spicy+Rice&display=swap" rel="stylesheet" />

    <title>Astro</title>
  </head>
  <body>
    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>

    <header>
      <div class="logo">
        <a href="index.html"><img src="/public/img/logo.svg" alt="linkedin" /> </a>
      </div>
      <nav>
        <ul class="menu">
          <li><a href="index.html">OM KIDSAID</a></li>
          <li><a href="index.html">INDSAMLING</a></li>
          <li><a href="index.html">FOR BØRNENE</a></li>
          <li><a href="index.html">NYHEDSBREV</a></li>
          <li><a href="index.html">KONTAKT OS</a></li>
        </ul>
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>
    </header>

    <div class="container">
      <img src="/public/img/kanin.svg" alt="linkedin" />
    </div>
    <section>
      <h1>Magiske øjeblikke</h1>
      <p class="tekst1">
        <br /> I Magic Kids er det formålet, at vores magikere er til stede på alle landets børneafdelinger og skaber magi og glæde, så børnene bliver opslugt at de spændende magiske tricks og bliver underholdt og får en ægte pause fra sygdom, kedelig ventetid, frygt for ubehag eller sorg. <br />
        <br />
        Magic Kids er for børn i alle aldre. Blandt andet små trylletricks, som er sjove for de lidt større børn, og disse tricks foræres til børnene, så de kan øve sig og trylle videre.<br />
        <br />
        Der er tricks og balloner for de lidt mindre børn, som kan forundres og grine og få et ballondyr. For de største børn, er der kort tricks og små illusioner, der er sjove at udføre foran vennerne, når de bliver udskrevet, eller når disse kommer på besøg.<br />
      </p>
    </section>

    <img class="stjerner" src="/public/img/gulstjerner.svg" alt="linkedin" />

    <div>
      <section class="billedgalleri">
        <h1 class="moving-headline">Mød vores tryllekunstnere</h1>
        <div class="tryllekunstnerne">
          <div>
            <img src="/public/img/henneysolskin.jpg" alt="Henny solskin" />
            <h3>Henny Solskin</h3>
            <p>Henny Solskin er en ægte solstråle. Med hendes mange farver, dyr og bamser spreder hun glæde på Herning.</p>
            <p class="kalender">
              Upcomming events
              <br /> - <br />
              <br /> - <br />
              <br /> - <br />
            </p>
          </div>

          <div>
            <img src="/public/img/tryllemichael.jpg" alt="Trylle Michael" />
            <h3>Trylle Michael</h3>
            <p>Tryller på Riget. En ægte magiker, der også får de voksne til at forbløffes.</p>
            <p class="kalender">
              Upcomming events
              <br /> - <br />
              <br /> - <br />
              <br /> - <br />
            </p>
          </div>

          <div>
            <img src="/public/img/birger.jpg" alt="Birger" />
            <h3>Birger</h3>
            <p>Birger tryller for KidsAid i Viborg og Odense. Han har optrådt for både store og små i over 20 år.</p>
            <p class="kalender">
              Upcomming events
              <br /> - <br />
              <br /> - <br />
              <br /> - <br />
            </p>
          </div>

          <div>
            <img src="/public/img/lassnk.jpg" alt="Lasse NK" />
            <h3>Lasse NK</h3>
            <p>Lasse er på Herlev og Hvidovre og Gram Slot. Han er en mester til balloner og har en populær Segway.</p>
            <p class="kalender">
              Upcomming events
              <br /> - <br />
              <br /> - <br />
              <br /> - <br />
            </p>
          </div>
        </div>

        <!-- Sekundær række af billeder -->
        <div class="billedegalleriandenrække">
          <div>
            <img src="/public/img/helle.jpg" alt="Helle" />
            <h3>Helle</h3>
            <p>Danmarksmester i børnetryl.</p>
            <p class="kalender">
              Upcomming events
              <br /> - <br />
              <br /> - <br />
              <br /> - <br />
            </p>
          </div>

          <div>
            <img src="/public/img/fabelagtigefalbe.jpg" alt="Fabelagtige Falbe" />
            <h3>Fabelagtige Falbe</h3>
            <p>En magiker med grine-garanti.</p>
            <p class="kalender">
              Upcomming events
              <br /> - <br />
              <br /> - <br />
              <br /> - <br />
            </p>
          </div>

          <div>
            <img src="/public/img/rasmusfupogfidus.jpg" alt="Rasmus Fup og Fidus" />
            <h3>Rasmus Fup og Fidus</h3>
            <p>Rasmus Fup og Fidus fra AUH tryller på de forskellige børneafdelinger på Århus og Familiehuset.</p>
            <p class="kalender">
              Upcomming events
              <br /> - <br />
              <br /> - <br />
              <br /> - <br />
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>

<div class="kanin">
  <img class="kanin" src="/public/img/kanin.svg" alt="linkedin" />
</div>

<section>
  <h1 class="moving-headline"><br /> Støt op om MagicAid<br /> <br />Doner i dag!<br /></h1>

  <div class="container">
    <a href="https://kidsaid.dk/doner" target="_blank">
      <img class="knap" src="/public/img/knap.svg" alt="doner til KidsAid" />
    </a>
  </div>

  <img class="stjerner" src="/public/img/blåstjerner.svg" alt="linkedin" />
  <h2 class="instatekst">Besøg vores instagram!</h2>

  <div class="lottiefile-wrapper">
    <div class="lottiefile">
      <img src="/public/img/insta1.jpg" alt="" />
      <img src="/public/img/insta2.jpg" alt="" />
      <img src="/public/img/insta3.jpg" alt="" />
      <img src="/public/img/insta4.jpg" alt="" />
      <img src="/public/img/insta5.jpg" alt="" />
      <img src="/public/img/insta6.jpg" alt="" />
      <img src="/public/img/insta7.jpg" alt="" />
      <img src="/public/img/insta8.jpg" alt="" />
      <!-- Gentag billederne for en jævn rulleanimation -->
      <img src="/public/img/insta1.jpg" alt="" />
      <img src="/public/img/insta2.jpg" alt="" />
      <img src="/public/img/insta3.jpg" alt="" />
      <img src="/public/img/insta4.jpg" alt="" />
      <img src="/public/img/insta5.jpg" alt="" />
      <img src="/public/img/insta6.jpg" alt="" />
      <img src="/public/img/insta7.jpg" alt="" />
      <img src="/public/img/insta8.jpg" alt="" />
    </div>
  </div>
</section>

<footer>
  <div class="footer">
    <div>
      <h3>Om os</h3>
      <div class="omostekst">
        <p>
          Nyheder

          <br />Kidsaid<br />
          <br />Ambassadører<br />
          <br /> Kidsaid organisation<br />
        </p>
      </div>
    </div>
    <div class="kontakt">
      <h3>Kontakt</h3>
      <p>
        <br />Emma Iben Rosenkrantz<br />
        <br />Holm Eb@kidsaid.dk <br />
        <br /> Tlf.: +45 2025 1987<br />
      </p>
    </div>
  </div>
  <div class="ikoner">
    <img src="/public/img/linkedinikon.svg" alt="linkedin" />
    <img src="/public/img/instagramikon.svg" alt="instagram" />
    <img src="/public/img/facebookikon.svg" alt="facebook" />
  </div>
</footer>

<script>
  window.addEventListener("scroll", onScroll);

  function onScroll() {
    let winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    let height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    let scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.width = scrolled + "%";
  }
</script>
